.twister {
	background-color: #2D2C8A;
}

nav {
    margin-bottom: 10px;
    font-size: 20px;
}

ul.navbar-nav li a, ul.navbar-nav li a:visited {
    color: #FACF46 !important;
    font-weight: bold;
}

ul.navbar-nav li a:hover, ul.navbar-nav li a:active {
    color: #FACF46 !important;
    font-weight: bold;
    text-decoration: underline;
}

ul.navbar-nav li.active a {
    color: #FACF46 !important;
    font-weight: bold;
}

a, a:hover, a:visited {
    color: #FACF46;
} 

.carousel {
    margin-bottom: 75px;
}

img.smaller {
	width: 90%;
}

.center {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
}

.logo {
    margin-top: 10px;
    width: 400px;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: #1f1f2e;
    text-align: center;
  }

  .footer, .span {
      color: #1f1f2e;
  }

  /* CSS for FAQ page */

.top {
    margin-top: 100px;
}

  h2 {
    font-family: Arial, Verdana;
    font-weight: 600;
    font-size: 2.5rem;
    color: antiquewhite;
    text-transform: uppercase;
    display: block;
	margin-left: auto;
	margin-right: auto;
    width: 60%;
    margin-bottom: 50px;
}
.accordion-section .panel-default > .panel-heading {
    border: 0;
    background: #2D2C8A;
    padding: 0;
    color: antiquewhite !important;
}
.accordion-section .panel-default .panel-title a {
    display: block;
    font-style: bold;
    font-size: 1.5rem;
    color:  antiquewhite !important;
    text-decoration: none;
}
.accordion-section .panel-default .panel-title a:after {
    font-family: 'FontAwesome';
    font-style: normal;
    font-size: 3rem;
    content: "\f106";
    color: #1f1f2e;
    float: right;
    margin-top: -12px;
}
.accordion-section .panel-default .panel-title a.collapsed:after {
    content: "\f107";
}
.accordion-section .panel-default .panel-body {
    font-size: 1.2rem;
    color: antiquewhite !important;
}

footer {
    margin-bottom: 10px;
}

footer a {
    font-weight: bold;
}

h6 {
    text-align: center;
    margin-top: -25px;
    margin-bottom: 25px;
	margin-left: auto;
	margin-right: auto;
    width: 50%;
    color: antiquewhite !important;
}

/* Style buttons */
.btn {
    background-color: #FACF46;
    border: none; 
    padding: 12px 30px;
    cursor: pointer;
    font-size: 20px;
    width: 200px;
  }

.btn a {
    color: #1f1f2e;
    text-decoration: none;
}

.btnpos {
    margin-top: 10px;
}

.downloads {
    margin-top: 100px;
    margin-left: 20%;
    width: 60%;
    color: antiquewhite;
}

.downloads p {
    float: left;
}

.downloads ul {
    margin-left: -200px;
    float: left;
}

.version {
    margin-top: 10px;
    font-weight: bold;
}

.notes {
    margin-top: 40px;
}

.posright {
    float: right;    
}

.moveup {
    margin-top: -50px;
}

.patch {
    padding-top: 25%;
    margin-left: 15%;
    width: 80%;
}

.patch .btn {
    width: 250px !important; 
    margin-right: 10px;
    margin-bottom: 25px;
}

.center-patch {
    margin-left: 32%;
    margin-bottom: 40px;
    width: 80%;
}

.upgrade {
    margin-top: -25px;
    margin-left: 30%;
    margin-bottom: 40px;
    width: 80%;
}

.empty {
    text-decoration: none;
}

.patch-notes {
    margin-top:  15%;
    margin-left: -600px;
}

.hideme {
    display: none;
}

.howpi {
    margin-top: -50px;
    margin-bottom: 30px;
}