.twister {
	background-color: #2D2C8A;
}


nav {
    margin-bottom: 10px;
}

ul.navbar-nav li a, ul.navbar-nav li a:visited {
    color: #FACF46 !important;
    font-weight: bold;
}

ul.navbar-nav li a:hover, ul.navbar-nav li a:active {
    color: #FACF46 !important;
    font-weight: bold;
    text-decoration: underline;
}

ul.navbar-nav li.active a {
    color: #FACF46 !important;
    font-weight: bold;
}

.carousel {
    margin-bottom: 75px;
}

img.smaller {
	width: 90%;
}

.center {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
}

.logo {
    margin-top: 10px;
    width: 400px;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: #1f1f2e;
    text-align: center;
  }