body, html {
    height: 100% !important;
    line-height: 1.8 !important;
    background-color: #2D2C8A !important;
    color: antiquewhite !important;
}

/* Navigation */
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}



li {
    float: right;
    font-weight: bold;
    font-size: 20px;
}
  
li a {
    display: block;
    color: #FACF46;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
  
  /* Change the link color to #111 (black) on hover */
li a:hover {
    text-decoration: none;
}



/* Footer */
footer {
    position:fixed;
    bottom: 0px;
    width: 100%;
    text-align: center;
}

footer a, a:hover {
    font-weight: bold;
    color: #FACF46;
    text-decoration: none;
}
