body, html {
	background-color:  #2D2C8A;
	color:  antiquewhite;
    font-family: sans-serif;
}

nav {
    width: 100%;
    margin: auto;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

  .centerUI {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

a {
    color:  #FACF46;
	text-decoration:  none;
}

nav img {
    margin-right: 48%;
    margin-left: 1%;
}

nav ul {
    list-style: none;
    display: inline-block;
}

nav li {
    float: left;
    margin-left: 20px;
    font-weight: bold;
    font-size: 20px;
}

nav li:hover {
    opacity: 0.8;
}

.links {
    list-style: none;
    display: inline-block;
    margin-bottom: 50px;
}

.links li {
    float: left;
    margin-left: 25px;
    margin-right: 25px;
    margin-top: 10px;
    margin-bottom: 10px;
}


footer {
	position:  relative;
	bottom:  0;
	margin:  auto;
	width:  100%;
	text-align:  center;
	background-color:  #2D2C8A;
}

footer a {
	font-weight:  bold;
	font-size:  18px;
}

.about {
    line-height: 1.8em;
    text-align: justify;
    margin-bottom: 50px;
}



  .code {
    background-color: #332929;
    opacity: .8;
    width: auto;
    text-align: center;
    padding: 5px;
    border-radius: 5px;
    color: antiquewhite;
  }

  button {
    border-radius: 5px;
    background-color: #FACF46;
    border-style: none;
    padding: 10px;
    font-size: 15px;
    font-weight: bold;
    color: #2D2C8A;
    margin-right: 20px;
    cursor: pointer;
  }
  
.current-release {
  width: 25%;
}

.current-links {
  float: right;
  margin-right: 50px;
  margin-top: -50px;
}

  .PatchLink {
    list-style: none;
    display: inline-block;
    width: 100%;
    margin-left: 50px;
  }
  
  .PatchLink li {
    float: left;
    margin-left: 75px;
    margin-right: 100px;
    margin-top: 10px;
  }

  .ChangelogLink {
    color:  #FACF46;
    cursor: pointer;
    font-weight: bold;
    margin-top: -15px;
  }

  button:hover {
    opacity: 0.8;
  }

  .popup {
    z-index: 9;
    position: fixed;
    top:50%;
    left:50%;
    transform:translate(-50%, -50%);
    display:none;
    background:darkslategrey;
    color:antiquewhite;
    padding:20px;
    border-radius: 5px;
    box-shadow: 0 5px 5px 5px rgba(0, 0, 0, 0.2), 0 5px 10px 0 rgba(0, 0, 0, 0.19);
    line-height: 1.8em;
  }
  
  .close {
    color:  darkslategrey;
    font-weight: bold;
    text-align: center;
    background-color: #FACF46;
    width: 100px;
    padding: 5px;
    border-radius: 5px;
    margin: auto;
  }

  .resize {
    width: 30%;
    margin-top: 50px;
  }

  .here:hover {
    opacity: 0.8;
    cursor: pointer;
  }

  .downloads {
    overflow: hidden;
    margin-top: 200px;
    margin-bottom: 250px;
    
  }

  .DownloadsUI {
    
    list-style: none;
    margin-bottom: 50px;
  }

  .DownloadsUI li {
    float: left;
  
    margin-bottom: 50px;
  }
  
.downloadTest {
  margin: 300px 200px 325px 300px;
}

  .TwisterOS {
    border-style: solid;
    border-color: #8789d9;
    padding: 20px;
    display: inline;
    float: left;
    margin: auto;
    margin-right: 50px;
    overflow: hidden;
    width: 40%;
    list-style: none;
  }
  
  .TwisterUI {
    border-style: solid;
    border-color: #8789d9;
    padding: 22px;
    margin: auto;
    margin-left: 50px;
    overflow: hidden;
    width: 40%;
    list-style: none;
  }
  
  .TwisterOS p {
    text-align: center;
    font-weight: bold;
    font-size: 20px;
  }
  
  .TwisterUI p {
    text-align: center;
    font-weight: bold;
    font-size: 20px;
  }